apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 6.31.0
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    replicas: 1
    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_SECURITY_COOKIE_SAMESITE: grafana
    admin:
      existingSecret: grafana-admin-creds
    grafana.ini:
      server:
        root_url: "https://grafana.${SECRET_DEV_DOMAIN}"
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
      log:
        mode: console
      grafana_net:
        url: https://grafana.net
      auth.basic:
        #disable_login_form: false
        enabled: true
      auth.anonymous:
        enabled: true
        #org_name: HomeOps
        org_id: 1
        org_role: Viewer
#    dashboardProviders:
#      dashboardproviders.yaml:
#        apiVersion: 1
#        providers:
#          - name: "default"
#            orgId: 1
#            folder: ""
#            type: file
#            disableDeletion: false
#            editable: true
#            options:
#              path: /var/lib/grafana/dashboards/default
    datasources:
      datasources.yaml:
        apiVersion: 1
        # list of datasources that should be deleted from the database
        deleteDatasources:
          - name: Loki
            orgId: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://kube-prometheus-stack.monitoring.svc.cluster.local:9090/
            # url: http://mimir-query-frontend.monitoring.svc.cluster.local:8080/prometheus
            #            isDefault: true
            #          - name: Loki
            #            type: loki
            #            access: proxy
            #              #url: http://loki-gateway:80
            #            url: http://10.43.58.178:3100
#    dashboards:
#      default:
#        # Ref: https://grafana.com/grafana/dashboards/7845
#        zfs:
#          gnetId: 7845
#          revision: 4
#          datasource: Prometheus
#        # Ref: https://grafana.com/grafana/dashboards/13502
#        minio:
#          gnetId: 13502
#          revision: 10
#          datasource: Prometheus
#        # Ref: https://grafana.com/grafana/dashboards/11315
#        unifi-client-insights:
#          gnetId: 11315
#          revision: 8
#          datasource: Prometheus
#        # Ref: https://grafana.com/grafana/dashboards/11311
#        unifi-network-sites:
#          gnetId: 11311
#          revision: 4
#          datasource: Prometheus
#        # Ref: https://grafana.com/grafana/dashboards/11314
#        unifi-uap-insights:
#          gnetId: 11314
#          revision: 9
#          datasource: Prometheus
#        # Ref: https://grafana.com/grafana/dashboards/11312
#        unifi-usw-insights:
#          gnetId: 11312
#          revision: 8
#          datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        # folderAnnotation: grafana_folder
        # provider:
        #   foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
    serviceMonitor:
      enabled: true
    persistence:
      enabled: false
    ingress:
      enabled: true
      ingressClassName: "traefik"
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: "chart-scatter-plot-hexbin"
        cert-manager.io/cluster-issuer: "letsencrypt-production"
        traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      hosts:
        - &host "grafana.${SECRET_DEV_DOMAIN}"
      tls:
        - hosts:
            - *host
          secretName: *host
