apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  releaseName: kube-prometheus-stack
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 5m0s
  install:
    remediation:
      retries: 6
    crds: Create
  upgrade:
    remediation:
      retries: 6
    crds: CreateReplace
  values:
    enabled: false
    defaultRules:
      rules:
        kubelet: false
    kubelet:
      enabled: false
    prometheusOperator:
      kubeletService:
        enabled: false
    grafana:
      enabled: false
    alertmanager:
      enabled: false
    prometheus:
      prometheusSpec:
        replicas: 1
        shards: 1
        retention: 15d
        podMonitorNamespaceSelector: {}
        podMonitorSelector:
          matchLabels:
            app.kubernetes.io/component: monitoring
      ingress:
        main:
          enabled: true
          ingressClassName: "traefik"
          annotations:
            hajimari.io/enable: "true"
            hajimari.io/icon: "alpha-p-box"
            hajimari.io/appName: "Prometheus"
            cert-manager.io/cluster-issuer: "letsencrypt-production"
            #cert-manager.io/cluster-issuer: "ca-issuer"
            traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
            traefik.ingress.kubernetes.io/router.middlewares: networking-chain-no-auth@kubernetescrd
          hosts:
            - host: &uri "prom.${SECRET_DEV_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - *uri
              secretName: *uri
    admissionWebhooks:
      enabled: false
      patch:
        enabled: false

