---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: config 
  namespace: flux-system
spec:
  interval: 1m 
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./cluster/config
  prune: true
  wait: true
  timeout: 3m0s
  decryption:
    provider: sops
    secretRef:
      name: sops-age
