apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: sonarr-config-volume
    labels:
      app: sonarr
      snapshot.home.arpa/enabled: true
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: 3Gi

