apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: radarr-config-volume
    podLabels:
      app: radarr
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: 1Gi

