---
kubernetes:
  children:
    master:
      vars:
        ansible_user: yin
        ansible_ssh_port: 22
        ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
      hosts:
        k3s-cp-00:
          ansible_host: 192.168.3.30
        k3s-cp-01:
          ansible_host: 192.168.3.31
        k3s-cp-02:
          ansible_host: 192.168.3.32
#    worker:
#      vars:
#        ansible_user: yin
#        ansible_ssh_port: 22
#        ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
#      hosts:
#        k3s-worker-00:
#          ansible_host: 192.168.3.30
#        k3s-worker-01:
#          ansible_host: 192.168.3.32
