vrrp_instance vrrp_{{ iter }} {
   interface {{ interface | default('eth0') }}
   state {{ 'MASTER' if ansible_host == groups['loadbalancers'][iter] else 'BACKUP' }}
   virtual_router_id 5{{ iter }}
   priority {{ '101' if ansible_host == groups['loadbalancers'][iter] else '100' }}
   virtual_ipaddress_excluded {
       {{ virtualIPs[iter].ip }}
   }
   track_interface {
       {{ virtualIPs[iter].config.interface | default('eth0') }} weight -2
   }
   track_script {
      chk_sshd
      {% if virtualIPs[iter].config.service|length > 0 %}
      chk_{{ virtualIPs[iter].config.service }}
      {% endif %}
   }
}
